<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style/main.css">
    <meta charset="UTF-8">
    <title>OMNI - Open Model Initiative</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="./static/images/omni_logo.png"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Upload Model</a></li>
            <li class="active"><a href="/find">Find Model</a></li>
        </ul>
    </div>
</nav>

<!--- Main Container -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Find Model
        </div>
        <div class="panel-body">
        <form class = "search-omni">
                <div class = "form-group row">
                    <div class = "col-sm-8">
                        <input class = "form-control" type = "text" placeholder="Search OMNI" onkeydown="searchOMNI(this.value)">
                    </div>
                </div>
            </form>
            <table class="table table-hover table-responsive" id = "search-table">
                <thead>
                <th>Name</th>
                <th>Created By</th>
                <th>Last Updated</th>
                <th>URL</th>
                <th>Tags</th>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
</html>