<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="../static/scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style/main.css">
    <meta charset="UTF-8">
    <title>Career Ascension - Information Technology Job Board</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <a class="navbar-brand" href="#"><img src="./static/images/mach_2_short_final.png" width="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Categories
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Systems Administration</a>
                    <a class="dropdown-item" href="#">Programming</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>

<!--- Main Container -->
<div class="container">
    <div class="row" id="omni-information">
        <div class="jumbotron" id="omni-jumbo">
            <div id="omni-info-close">
                <span class="glyphicon glyphicon-remove" onclick="closeInfo()"></span>
            </div>
            <h3 style="text-align: center">Welcome to OMNI</h3>
            <p>Synthia Labs' <b style="color:#ff9000">Open Model Initiative</b> is a free and open source <b
                    style="color:#ff9000">Machine Learning Model</b> server.
                Members can upload pre-trained models to our database so that others can download and use these models
                for free. Members can also create new models to train with the community using the open source <b
                        style="color:#ff9000">Synthia Model Server.</b></p>
        </div>
    </div>
</div>
</body>
</html>