<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/scripts/omni.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style/main.css">
    <meta charset="UTF-8">
    <title>OMNI - Open Model Initiative</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="./static/images/omni_logo.png"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/upload">Upload Model</a></li>
            <li><a href="/find">Find Model</a></li>
        </ul>
    </div>
</nav>

<!--- Main Container -->
<div class="container">
    <div class="row" id = "omni-information">
        <div class = "jumbotron" id = "omni-jumbo">
            <div id = "omni-info-close">
                <span class="glyphicon glyphicon-remove" onclick="closeInfo()"></span>
            </div>
            <h3 style="text-align: center">Welcome to OMNI</h3>
            <p>Synthia Labs' <b style="color:#ff9000">Open Model Initiative</b> is a free and open source <b style="color:#ff9000">Machine Learning Model</b> server.
            Members can upload pre-trained models to our database so that others can download and use these models
                for free. Members can also create new models to train with the community using the open source <b style="color:#ff9000">Synthia Model Server.</b></p>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Latest Models</div>
            <div class="panel-body">
                <table class="table table-hover table-responsive">
                    <thead>
                    <th>Name</th>
                    <th>Created By</th>
                    <th>Last Updated</th>
                    <th>URL</th>
                    <th>Tags</th>
                    </thead>
                    {% for model in models %}
                        <tr>
                            <td><p>{{ model['Name'] }}</p></td>
                            <td><p>{{ model['CreatedBy'] }}</p></td>
                            <td><p>{{ model['LastUpdated'] }}</p></td>
                            <td><p><a href={{ model['URL'] }}>{{ model['URL'] }}</a></p></td>
                            <td><p>{{ model['Tags'] }}</p></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>