<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="../static/scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style/main.css">
    <link rel="shortcut icon" href="./static/images/mach_2_short_white.png" />
    <title>Career Ascension - Information Technology Job Board</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-light navbar-light sticky-top">
    <a class="navbar-brand" href="#"><img src="./static/images/mach_2_short_final.png" width="50px" alt="Back to Digital Ascension"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar div -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Categories
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/category/devops">DevOps</a>
                    <a class="dropdown-item" href="/category/itsupport">IT Support</a>
                    <a class="dropdown-item" href="/category/programming">Programming</a>
                    <a class="dropdown-item" href="/category/sysadmin">System Administration</a>
                    <a class="dropdown-item" href="/category/sre">Site Reliability Engineering</a>
                    <a class="dropdown-item" href="/category/webdev">Web Development</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Post</a>
            </li>
        </ul>
        <div id="search-ca">
            <form class="form-inline" action="/action_page.php">
                <input class="form-control mr-sm-2" type="text" placeholder="Search Career Ascension">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<section id="jumbotron-section">
    <!--- Main Container -->
    <div class="container">
        <div class="row" id="omni-information">

        </div>
    </div>
</section>

<!-- Testing the posting sections -->
<section id="postings-section">
    <div class="container" align ="center">
    <div class = "row">
        <h3>DevOps Jobs</h3>
        {% for post in postings %}
            <table class="table">
                <tr><td><img src="{{ post.Logo }}" width="35px" class="img-responsive"/></td>
                    <td>{{ post.Company }}</td>
                    <td>{{ post.Title }}</td>
                    <td>12-10-2018</td>
                </tr>
            </table>
        {% endfor %}
    </div>
    </div>
</section>
</body>
</html>