<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style/main.css">
    <meta charset="UTF-8">
    <title>OMNI - Open Model Initiative</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="./static/images/omni_logo.png"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/upload">Upload Model</a></li>
            <li><a href="/find">Find Model</a></li>
        </ul>
    </div>
</nav>

<!--- Main Container -->
<div class="container" align="center">
    <div class="panel panel-default" id="model-form-body">
        <div class="panel-heading">
            Upload Model
        </div>
        <div class="panel-body">
            <form id="create-model-form">
                <div class="form-group">
                    <div class="model-input">
                        <label for="exampleFormControlFile1">Name</label>
                        <input class="form-control" type="text" placeholder="Model Name">
                    </div>
                    <div class="model-input">
                        <label for="exampleFormControlFile1">Serialized Model File</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" accept=".model">
                    </div>

                    <button type="submit" class="btn btn-primary mb-2">Upload Model</button>

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>